div {
padding:10px;
spacing:rgba(255, 0, 0, 0.5);
text-align: right;
margin-top: 10px;
margin-left: 10px;
margin-left: 10px;
margin-bottom: 10px;
background-color:rgba(255, 128, 64, 0.6);
color: rgba(0, 0, 255, 1);
font-size: 25px;
}
section {
padding:10px;
}

.c0{
background-color:rgba(255, 128, 64, 0.2);
}

.c1{
  font-family:sans-serif;
}

.c2{
  font-family: fantasy;
  font-size: 35px;
  color: rgba(20, 50, 20, 1);
  text-align: center;
}
