@import url("htps://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
*{
  margin: 0;
  padding: 0;
}
html, body {
  height: 100vh;
}
body{
  background-color: rgb(12,12,12);
  color: #fff;
  font-family: Lato, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
#countdown{
  text-align: center;
}
#time{
  display: flex;
  justify-content: space-around;
}
#time > div{
  display: flex;
  flex-direction: column;
}
#time>div>span{
  font-size: 3rem;
}
